/* ================
* 	Global reset
* =================
*/
* {
    box-sizing: border-box;
}

.blue {
    color: #2f15b8;
}

@font-face {
    font-family: Litchis;
    src: url(../fonts/Litchis.ttf);
}

html, body {
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding: 0;
}

p { font-family: 'Open Sans', sans-serif;}

.row{
    padding-top: 20px;
    padding-bottom: 25px;
}

/* =====================
* Style for Header START
* ======================
*/
.page-header {
    text-align: center;
    width: 100%;
}

/*HERO SECTION STYLING*/
.hero {
    width: 100%;
    height: 580px;
    background-image: url("../img/hero.jpeg");
    background-size: cover;
    background-position: bottom;
    object-fit: cover;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

.hero-heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: auto;
    padding-top: 370px;
}

.hero-heading h1 {
    font-family: Litchis;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 7.9rem;
    letter-spacing: 10px;
    font-weight: normal;
    color: #1c0d6c;
}

.hero-heading h2 {
    font-size: 1rem;
    color: #1c0d6c;
}

.title {
	padding: 50px 0;
	font-size: 38px;
	text-align: center;
}

/*NAVIGATION BAR STYLING*/

.nav-bar {
    margin: auto;
}

.nav-bar ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    overflow: auto;
    position: fixed;
    background-color: #1e1e1e9e;
    z-index: 1;
}

.nav-bar li {
    width: 15%;
    float: right;
}

.nav-bar li>a {
    display: block;
    color: #ece7e7;
    padding: 15px 0;
    text-decoration: none;
    font-size: 14px;
    margin: 0 10px;
}

.nav-bar li>a:hover {
    margin: 0 10px;
    color: white;
    font-size: 0.8rem;
    background-color: #222;
}

/* =====================
* Style for Header END
* ======================
*/


/* =====================
* Style for Main Content
* ======================
*/

.sub-heading {
    padding-top: 35px;
    font-size: 2em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.icon-img {
	width: 75%;
}

/*SERVICES SECTION STYLING*/
.service-icon {
    width: 25%;
    /* height: 100px; */
    padding: 20px;
	margin: auto;
	display: block;
}

.services-article {
    padding: 10px 30px;
    text-align: justify;
}

.services-article h4 {
    padding: 12px 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

/*RECENT WORK SECTION STYLING*/

.work-img {
    margin: auto;
    display: block;
    width: 95%;
    object-fit: cover;
    height: 330px;
}

.img-container {
  position: relative;
}

.work-article p {
    text-align: center;
}

/* =====================
*     Style for Footer
* ======================
*/

.footer-distributed {
    width: 100%;
    background-color: #e8e7ec;
}

/* Footer Center */

.footer-icons {
    margin: auto;
    padding: 20px;
}

.footer-icons img {
    display: inline-block;
    width: 30px;
    height: auto;
    cursor: pointer;
    padding: 0;
    bottom: 5%;
    margin-right: 3px;
    margin-bottom: 5px;
}


/* Footer Right */

.footer-copyrights {
    font-weight: normal;
    margin: 0;
    color: black;
    font-size: 12px;
    font-family: comme;
}

/* Footer Styling END*/

/* Media Query */

/* Resizing 1200 */
@media only screen and (min-width:1200px) {
  
}

/* Resizing 992 */
@media only screen and (max-width:992px) {
 
}
  
/* Resizing 760 */
@media only screen and (max-width:760px) {
}

/* RESIZE FOR MOBILE */
@media only screen and (max-width:580px) {
    .nav-bar li {
        width: 30%;
    }

    .hero-heading {
        padding-top:185px;
    }

    .hero-heading h1 {
        font-size: 7.2rem;
    }
}